@charset "utf-8";

*{
    font-style:unset;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../İmage/AntalyaManzara.jpg);
    background-size: cover;
}

.container {
    
    height: 80px;
    width: 80%;
    margin: auto;
}
header nav{
    display: flex;
    justify-content: end;

}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 40px;
}

nav ul a {

    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 48px;
    transition: all .25s ease;
}

nav ul a:hover {
    
    color :blueviolet;
    background-color: white;
}

.section {
    width: 70%;
    margin: auto;
    border: 3px solid gray;
    border-radius: 18px;
    background-color: blanchedalmond;
}

section h1 {
    text-align: center;
}
.section img {
    margin:  20px 20px;
    width: 45% ;
}
section p {
    margin: 20px 20px;
    font-size: 14pt;
}

section header {
    margin: 20px 20px;
    font-size: 20pt;
}

section ul {
    font-size: 18px;
    list-style-type:circle;
}

.Miras ul {
    list-style: none;
    display: flex;
    column-gap: 40px;
    justify-content: center;
}
.Miras ul a {
    color:rgb(42, 204, 240);
    text-decoration: none;
    padding: 12px 24px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 16px;
}
